<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
    <%- include('partials/navbar', { page: '/' }) %>

    <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>
                    <p class="py-6">Everything you want to know about me - the designer &amp; developer.</p>
                </div>
            </div>
        </div>

        <br/>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <img class="w-full rounded-lg"
                    src="https://kahuna-design.com/wp-content/uploads/17b5eef7-4974-4cab-8450-6e6530590cfc.jpg"
                    alt="profile" />
            </div>
            <div class="prose">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae doloribus, vel recusandae vero omnis deserunt, reiciendis explicabo provident error placeat repudiandae quasi natus nihil perferendis ipsa laboriosam nostrum quidem aperiam!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, pariatur deserunt saepe vel quod laboriosam itaque, expedita corrupti aperiam, natus ipsam totam vero! Quae distinctio tenetur inventore molestias quo aspernatur!</p>
            </div>
        </div>
    </div>
</body>

</html>
